.container {
  padding: 1rem;
  flex: 1 1 0%;
  border-radius: 1rem;
}

.container:nth-child(odd) {
  background-color: var(--lamaPurple);
}

.container:nth-child(even) {
  background-color: var(--lamaYellow);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 9999px;
  color: #059669;
  background-color: #ffffff;
  color: 10px;
}

.count {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.type {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #6b7280;
  text-transform: capitalize;
}
