.container {
  padding: 1rem;
  border-radius: 0.5rem;
  height: 100%;
  background-color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
